.link {
    color: rgb(7, 7, 7);
    text-decoration: none;
  }
  .link:hover {
     color: #00F
  }


  .button{
    color:white;
    background-color: black;
  }
.button:hover{
        color: white;
   
}




.loginmain{
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'jost', sans-serif;
  background:linear-gradient(to bottom, #b1b1f9, #f1e7ef , #dad9f5) ;
  position: relative;
}





 