.link {
    color: rgb(7, 7, 7);
    text-decoration: none;
  }
  .link:hover {
     color: #00F
  }

  small{
    color: red;
  }

  .sig{
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #958e69 74%);
  }