.signup{
    justify-content: center;
    text-align: center;
}

.form-grop{
    display: flex;
    text-align: center;
    justify-content: center;
}

.form-group{
    margin-top: 15px;
}

.btn{
    margin-top: 20px;
}

.label{
    margin-right: 10px;
}